@model IEnumerable<ArticleHomepageVM>



@foreach (var item in Model.Take(3))
{
    <li>
        <a asp-controller="AdmArticle" asp-action="Details" asp-route-id="@item.Id" asp-route-serp="@item.Serp">
            <img src="~/documents/@item.ImageName" alt="Image placeholder" class="mr-4" style="height:80px;">
            <div class="text">
                <h4>@item.Title.Substring(0,30)..</h4>
                <div class="post-meta">
                    <span class="mr-2"><span class="ion-ios-calendar-outline"> @item.DatePublished.Value.ToShortDateString()</span></span>
                    <span class="ml-2"><span class="fa fa-comments"></span>11</span>
                </div>
            </div>
        </a>
    </li>

}
